{% extends 'usuarios/base.html' %}

{% block aba %}Editar Eventos{% endblock %}

{% block titulo %}Editar Eventos{% endblock %}

{% block conteudo %}
<h3>Edição do Evento Cultural</h3>
<p class="lead">Verifique as informações do evento e faça as devidas edições.</p>
<hr>
<form action="{% url 'editar_evento' evento.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-register">
        <label for="organizador">Organizador:</label>
        <label style="font-weight:bold;">{{ user.first_name }}</label>
    </div>
    <div class="form-register">
        <label for="tituloEvento">Título do Evento:</label>
        <input type="text" id="tituloEvento" name="titulo" value="{{ evento.titulo }}">
    </div>
    <div class="form-register">
        <label for="dataEvento">Data:</label>
        <input type="date" id="dataEvento" name="data" value="{{ evento.data }}">
    </div>
    <div class="form-register">
        <label for="localEvento">Local:</label>
        <input type="text" id="localEvento" name="local" value="{{ evento.local }}">
    </div>
    <div class="form-register">
        <label for="descricaoEvento">Descrição:</label>
        <textarea id="descricaoEvento" name="descricao">{{ evento.descricao }}</textarea>
    </div>
    
    <div class="update">
        <button type="submit" class="btn btn-success btn-sm">Atualizar</button>
        <a href="{% url 'lista_eventos' %}" class="btn btn-danger btn-sm">Voltar</a>
    </div>
</form>
{% endblock %}