{% extends 'usuarios/base.html' %}

{% block aba %}Visualizar Evento{% endblock %}

{% block titulo %}Visualizar Evento{% endblock %}

{% block conteudo %}
<h3>Visualização de Eventos Culturais</h3>
<hr>

<form action="{% url 'visualizar_eventos' %}" method="POST">
    {% csrf_token %}
    <div class="filter">
        <label for="filtroLocal">Filtrar por local:</label>
        <select name="local">
            <option>Todos os locais</option>
            {% for evento in lista_eventos %}
                <option>{{ evento.local }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

<div class="table-responsive mt-3">
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Data</th>
            <th>Local</th>
            <th>Descrição</th>
        </tr>
        {% for evento in lista_eventos %}
            <tr>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.data }}</td>
                <td>{{ evento.local }}</td>
                <td>{{ evento.descricao }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Nenhum evento encontrado.</td>
            </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock %}